<p style="color: green"><%= notice %></p>

<h1>Toys</h1>

<div id="toys">
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Store</th>
        <th>Maker</th>
        <th colspan="4"></th>
      </tr>
      <tbody>
        <% @toys.each do |toy| %>
          <%= render toy %>
        <% end %>
      </tbody>
    </thead>
  </table>
</div>

<%= link_to "New toy", new_toy_path %>
