<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2"></th>
      </tr>
      <tbody>
        <% @groups.each do |group| %>
          <%= render group %>
        <% end %>
      </tbody>
    </thead>
  </table>
</div>

<%= link_to "New group", new_group_path %>
